body {
    background-image: url(../images/pub.jpg);
    background-size: cover;
    /* Photo by Mary Rebecca Elliott on Unsplash */
}

h1 {
    font-family: 'BioRhyme Expanded', serif;
    color: #ff8200;
    font-size: 4.5rem;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

body {
    font-family: 'Nunito', sans-serif;
    color: black;
}

.form-control {
    width: 100%;
    text-align: center;
}

label {
    font-size: 35px;
    /* -webkit-text-stroke: 1px black; */

}

.container {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.58);
    height: 1600px;
    width: 65%;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff8200a3;
    color: black;
    text-align: center;
    height: 38px;
}

button {
    background-color: #ff8200;
    margin: 15px;
}

p {
    font-size: 25px;
    font-weight: bold;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

 /* The popup bubble styling. */
 .popup-bubble {
     /* Position the bubble centred-above its parent. */
     position: absolute;
     top: 0;
     left: 0;
     transform: translate(-50%, -100%);
     /* Style the bubble. */
     background-color: white;
     padding: 5px;
     border-radius: 5px;
     font-family: sans-serif;
     overflow-y: auto;
     max-height: 60px;
     box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
 }

 /* The parent of the bubble. A zero-height div at the top of the tip. */
 .popup-bubble-anchor {
     /* Position the div a fixed distance above the tip. */
     position: absolute;
     width: 100%;
     bottom:
         /* TIP_HEIGHT= */
         8px;
     left: 0;
 }

 /* This element draws the tip. */
 .popup-bubble-anchor::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     /* Center the tip horizontally. */
     transform: translate(-50%, 0);
     /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
     width: 0;
     height: 0;
     /* The tip is 8px high, and 12px wide. */
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-top:
         /* TIP_HEIGHT= */
         8px solid white;
 }

 /* JavaScript will position this div at the bottom of the popup tip. */
 .popup-container {
     cursor: auto;
     height: 0;
     position: absolute;
     /* The max width of the info window. */
     width: 200px;
 }
